.__livy__admin.too-many-characters {
    display: flex;
    justify-content: space-between;
    color: red;
}

#Composer .carbon-drag-handle {
    display: flex;
}

.carbon-container .__livy__admin__block-preview {
    white-space: nowrap;
    overflow: hidden;
    max-width: 60%;
    text-overflow: ellipsis;
    display: inline-block;
    padding-left: 10px;
    opacity: 0;
    transition: 0.2s opacity;
}

.carbon-group-row.collapsed .__livy__admin__block-preview {
    opacity: 0.5;
}

.carbon-container .__livy__admin__hide-label > label {
    display: none;
}