/* spacing classes */

/* static */
.__livy__pad {
    padding: var(--space);
}
.__livy__pad_double {
    padding: var(--space-double);
}
.__livy__pad_triple {
    padding: var(--space-triple);
}
.__livy__pad_quad {
    padding: var(--space-quad);
}
.__livy__pad_half {
    padding: var(--space-half);
}
.__livy__pad_third {
    padding: var(--space-third);
}

/* relative */
.__livy__rel-pad_1 {
    padding: var(--rel-1);
}
.__livy__rel-pad_2 {
    padding: var(--rel-2);
}
.__livy__rel-pad_3 {
    padding: var(--rel-3);
}
.__livy__rel-pad_4 {
    padding: var(--rel-4);
}
.__livy__rel-pad_-1 {
    padding: var(--rel--1);
}
.__livy__rel-pad_-2 {
    padding: var(--rel--2);
}